@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = " A good webiste";
}




<!--about me section -->
<h1>Joe Lambert</h1>
<img src="img/Lacrosse.jpg"
        width="500"
        height="500 " />

<h2>What I want to learn</h2>
<p>
    I am excited to get back into coding with a strongly typed language. I think Python is great but I appreciate having more control. <br />
    I am excited to better my skills in problem solving with coding because I still feel like I could be faster.
</p>

<h2>Jobs I'm interested in</h2>
<ul>
    <li>Data Analyst</li>
    <li>Network Engineer</li>
    <li>Software Developer</li>
</ul>



