<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!--bootsrap and css-->
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

    <!--new icon-->
    <link rel="icon" type="image/png" href="img/newton_balls_pendulum_science_icon_233258.ico" sizes="32x32">
</head>
<body>

    <nav>
        <a asp-controller="blah" asp-action="Index">Home</a>
        <a asp-controller="blah" asp-action="calc">Calc</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="lib/jquery/dist/jquery.js"></script>

</body>
</html>
